/Sentiment\ Analysis/resources/trainingSet.csv
/Sentiment\ Analysis/resources/GoogleNews-vectors-negative300.bin
Sentiment Analysis/finalized_sentiment_model.sav
Sentiment Analysis/finalized_sentiment_model.sav
